@page
@model WesternInn_AF_HLN_HP.Pages.Bookings.CreateModel
@inject UserManager<IdentityUser> UserManager
@{
    ViewData["Title"] = "Create";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Booking</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
           
            <input type="hidden" asp-for="Booking.GuestEmail" value="@UserManager.GetUserName(User)" />
            @if (User.IsInRole("Administrator"))
            {
                <div class="form-group">
                    <label asp-for="Booking.GuestEmail" class="control-label"></label>
                    <select asp-for="Booking.GuestEmail" class="form-control" asp-items="ViewBag.GuestEmail"></select>
                </div>
            }
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Booking.RoomID" class="control-label"></label>
                <select asp-for="Booking.RoomID" class="form-control" asp-items="ViewBag.RoomID" value="@Request.Query["RoomID"]"></select>
            </div>
            <div class="form-group">
                <label asp-for="Booking.CheckIn" class="control-label"></label>
                <input asp-for="Booking.CheckIn" class="form-control" value="@Request.Query["CheckIn"]" />
                <span asp-validation-for="Booking.CheckIn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Booking.CheckOut" class="control-label"></label>
                <input asp-for="Booking.CheckOut" class="form-control" value="@Request.Query["CheckOut"]" />
                <span asp-validation-for="Booking.CheckOut" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Booking.Cost" class="control-label"></label>
                <input asp-for="Booking.Cost" value = "1" class="form-control" />
                <span asp-validation-for="Booking.Cost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
